#main {
  -fx-padding: 5 0;
  -fx-spacing: 5;
}

.breadcrumbs {
}

.breadcrumbs .item {
  -fx-background-color: grey;
  -fx-background-radius: 5 5 5 5;
}

.breadcrumbs .item:hover {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
         -fx-color: -fx-hover-base;
}

.breadcrumbs .alone {
  -fx-border-insets: 0 0 1 0, 1;
}

.breadcrumbs .first {
  -fx-background-radius: 5 0 0 5;
}

.breadcrumbs .middle {
    -fx-background-radius: 0 0 0 0;
}

.breadcrumbs .last {
  -fx-background-radius: 0 5 5 0;
}
